<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ff.clock">

    <!-- These can be in the library root -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <receiver
            android:name=".AlarmFireReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ff.clock.ALARM" />
            </intent-filter>
        </receiver>
    </application>
</manifest>